# Quetsion 1-Hypothesis Testing

In [4]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [7]:
Q1_data=pd.read_csv('C:/Users/fast/Desktop/Assignment/Hypotheises Testing/Cutlets.csv')
Q1_data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [ ]:
#Assume Null hyposthesis as Ho: μ1 = μ2 (There is no difference in diameters of cutlets between two units) Thus Alternate hypothesis as Ha: μ1 ≠ μ2 (There is significant difference in diameters of cutlets between two units) 2 Sample 2 Tail test applicable

In [11]:
unitA=pd.Series(Q1_data.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [14]:
unitB=pd.Series(Q1_data.iloc[:,0])
unitB

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [26]:
unitB=pd.Series(Q1_data.iloc[:,1])

In [27]:
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [29]:
p_value=stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [31]:
p_value[1]

0.4722394724599501

Inference: As (p_value=0.4722) > (α = 0.05); Accept Null Hypothesis i.e. μ1 = μ2 ( Thus, there is no difference in diameters of cutlets between two units

# Question No2: Hypothesis Testing

In [33]:
Q2_data=pd.read_csv('C:/Users/fast/Desktop/Assignment/Hypotheises Testing/LabTAT.csv')
Q2_data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [35]:
Q2_data.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [38]:
Laboratory1.mean()

178.36158333333339

In [57]:
Laboratory_1mean=Q2_data['Laboratory 1'].mean()
Laboratory_2mean=Q2_data['Laboratory 2'].mean()
Laboratory_3mean=Q2_data['Laboratory 3'].mean()
Laboratory_4mean=Q2_data['Laboratory 4'].mean()

In [61]:
print(Laboratory_1mean)
print(Laboratory_2mean)
print(Laboratory_3mean)
print(Laboratory_4mean)

178.36158333333339
178.9029166666668
199.91325000000003
163.6827499999999

Assume H0=There are no significant differences between the groups' mean Lab values
and H1= There are significant differences between the groups' mean Lab values

In [100]:
alpha=0.05
Lab1=pd.DataFrame(Q2_data['Laboratory 1'])
Lab2=pd.DataFrame(Q2_data['Laboratory 2'])
Lab3=pd.DataFrame(Q2_data['Laboratory 3'])
Lab4=pd.DataFrame(Q2_data['Laboratory 4'])
print(Lab1,Lab1,Lab3,Lab4)

     Laboratory 1
0          185.35
1          170.49
2          192.77
3          177.33
4          193.41
..            ...
115        178.49
116        176.08
117        202.48
118        182.40
119        182.09

[120 rows x 1 columns]      Laboratory 1
0          185.35
1          170.49
2          192.77
3          177.33
4          193.41
..            ...
115        178.49
116        176.08
117        202.48
118        182.40
119        182.09

[120 rows x 1 columns]      Laboratory 3
0          176.70
1          198.45
2          201.23
3          199.61
4          204.63
..            ...
115        193.80
116        215.25
117        203.99
118        194.52
119        221.49

[120 rows x 1 columns]      Laboratory 4
0          166.13
1          160.79
2          185.18
3          176.42
4          152.60
..            ...
115        172.68
116        177.64
117        170.27
118        150.87
119        162.21

[120 rows x 1 columns]

In [111]:
p_value= stats.f_oneway(Lab1,Lab2,Lab3,Lab4)
print(p_value)

F_onewayResult(statistic=array([118.70421654]), pvalue=array([2.11567089e-57]))

Inference: As (p_value=2.11567089e-57) > (α = 0.05); Accept Null Hypothesis i.e. There are no significant differences between the groups' mean Lab values

# Question No. 3-Hypothesis Testing

In [117]:
Q3_data=pd.read_csv('C:/Users/fast/Desktop/Assignment/Hypotheises Testing/BuyerRatio.csv')
Q3_data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [118]:
Q3_data.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

HO=all proportions are equal and H1=All proportions are not equal

In [122]:
alpha=0.05
Male= [50,142,131,70]
Female= [435,1523,1356,750]
sales= [Male,Female]
print(sales)

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [127]:
chiStats = stats.chi2_contingency(sales)
print('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))
print('Interpret by p-Value')
if chiStats[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

Test t=1.595946 p-value=0.660309
Interpret by p-Value
we accept null hypothesis

In [128]:
#critical value = 0.1
alpha = 0.05
critical_value = stats.chi2.ppf(q = 1 - alpha,df=chiStats[2])# Find the critical value for 95% confidence*
                      #degree of freedom

observed_chi_val = chiStats[0]
#if observed chi-square < critical chi-square, then variables are not related
#if observed chi-square > critical chi-square, then variables are not independent (and hence may be related).
print('Interpret by critical value')
if observed_chi_val <= critical_value:
    # observed value is not in critical area therefore we accept null hypothesis
    print ('Null hypothesis cannot be rejected (variables are not related)')
else:
    # observed value is in critical area therefore we reject null hypothesis
    print ('Null hypothesis cannot be excepted (variables are not independent)')

Interpret by critical value
Null hypothesis cannot be rejected (variables are not related)

Inference:proportion of male and female across regions is same

# Question4-Hypothesis Testing

In [130]:
Q4_data= pd.read_csv('C:/Users/fast/Desktop/Assignment/Hypotheises Testing/Costomer+OrderForm.csv')
Q4_data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [132]:
Q4_data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

H0=proportion of defective % across the center is same and H1=proportion of defective % across the center is NOT same

In [142]:
Phillippines_value=Q4_data['Phillippines'].value_counts()
Indonesia_value=Q4_data['Indonesia'].value_counts()
Malta_value=Q4_data['Malta'].value_counts()
India_value=Q4_data['India'].value_counts()
print(Phillippines_value)
print(Indonesia_value)
print(Malta_value)
print(India_value)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [148]:
p_value = stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
print('Test t=%f p-value=%f' % (p_value[0], p_value[1]))
print('Interpret by p-Value')
if p_value[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

Test t=3.858961 p-value=0.277102
Interpret by p-Value
we accept null hypothesis

In [149]:
#critical value = 0.1
alpha = 0.05
critical_value = stats.chi2.ppf(q = 1 - alpha,df=chiStats[2])
observed_chi_val = chiStats[0]
print('Interpret by critical value')
if observed_chi_val <= critical_value:
       print ('Null hypothesis cannot be rejected (variables are not related)')
else:
       print ('Null hypothesis cannot be excepted (variables are not independent)')

Interpret by critical value
Null hypothesis cannot be rejected (variables are not related)

Inference is that proportion of defective % across the center is same.